.btn {
  background-color: #62A1EB;
  color: white;
  border-radius: 7px;
  padding: 8px 40px;
  font-size: 18px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}